/******************************************************************************
*                               Customizations                               *
******************************************************************************/

.gradient-highlight {
  color: theme('colors.white');
  background-image: linear-gradient(
    120deg,
    theme('colors.blue.400') 0%,
    theme('colors.pink.700') 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 100%;
  padding: 0.15rem;
  transition: background-size 0.25s ease-in;
}

.gradient-underline {
  background-image: linear-gradient(
    120deg,
    theme('colors.blue.400') 0%,
    theme('colors.blue.200') 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 100% 10%;
  background-position: 0 100%;
  padding: 0.15rem;
  transition: background-size 500ms ease-in;
}

/* optional class for animating the gradient when hovered */
.gradient-hover:hover {
  color: theme('colors.black');
  background-size: 100% 100%;
  transition: color 500ms linear;
}

/**
 * Custom bullet-point coloring
 */

ol,
ul {
  @apply list-disc ml-8;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: '\2022';
  color: theme('colors.pink.700');
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
