@tailwind base;
@tailwind components;
@tailwind utilities;

/******************************************************************************
*                               Customizations                               *
******************************************************************************/

/* prevent double-tap to zoom when clicking buttons */
/* see: https://github.com/tailwindlabs/tailwindcss/discussions/3020 */
button {
  touch-action: manipulation;
}

.gradient-highlight {
  color: theme('colors.white');
  background-image: linear-gradient(
    120deg,
    theme('colors.blue.400') 0%,
    theme('colors.pink.700') 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 100%;
  padding: 0.15rem;
  transition: background-size 0.25s ease-in;
}

.gradient-underline {
  background-image: linear-gradient(
    120deg,
    theme('colors.blue.400') 0%,
    theme('colors.blue.200') 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 100% 10%;
  background-position: 0 100%;
  padding: 0.15rem;
  transition: background-size 500ms ease-in;
}

/* optional class for animating the gradient when hovered */
.gradient-hover:hover {
  color: theme('colors.black');
  background-size: 100% 100%;
  transition: color 500ms linear;
}

/**
 * Custom bullet-point coloring
 */

.custom-list {
  @apply ml-8 list-disc;
  list-style: none; /* Remove default bullets */
}

.custom-list > li::before {
  content: '\2022';
  color: theme('colors.blue.200');
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
}

code {
  /* temporary fix to remove strange rendering of text via prism */
  text-shadow: none;
}
