@tailwind base;
@tailwind components;
@tailwind utilities;

/******************************************************************************
*                               Customizations                               *
******************************************************************************/

/* prevent double-tap to zoom when clicking buttons */
/* see: https://github.com/tailwindlabs/tailwindcss/discussions/3020 */
button {
  touch-action: manipulation;
}

code {
  /* temporary fix to remove strange rendering of text via prism */
  text-shadow: none;
}

@layer base {
  @font-face {
    font-family: Mafins;
    src: url('/fonts/Mafins.otf');
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
   .no-scrollbar {
       -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none;  /* Firefox */
  }
}
