@tailwind base;
@tailwind components;
@tailwind utilities;

/******************************************************************************
*                               Customizations                               *
******************************************************************************/

/* prevent double-tap to zoom when clicking buttons */
/* see: https://github.com/tailwindlabs/tailwindcss/discussions/3020 */
button {
  touch-action: manipulation;
}

code {
  /* temporary fix to remove strange rendering of text via prism */
  text-shadow: none;
}

@layer base {
  @font-face {
    font-family: Mafins;
    src: url('/fonts/Mafins.otf');
  }
  @font-face {
    font-family: Milk and Honey;
    src: url('/fonts/Milk And Honey.otf');
  }
}
